In [ ]:
pip install metpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting metpy
  Downloading MetPy-1.2.0-py3-none-any.whl (367 kB)
     |████████████████████████████████| 367 kB 7.4 MB/s
Collecting pyproj>=2.5.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 52.9 MB/s
Collecting matplotlib>=3.3.0
  Downloading matplotlib-3.5.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     |████████████████████████████████| 11.2 MB 43.9 MB/s
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from metpy) (1.7.3)
Requirement already satisfied: importlib-metadata>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from metpy) (4.12.0)
Requirement already satisfied: importlib-resources>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from metpy) (5.8.0)
Requirement already satisfied: pooch>=0.1 in /usr/local/lib/python3.7/dist-packages (from metpy) (1.6.0)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from metpy) (1.21.6)
Collecting pint>=0.10.1
  Downloading Pint-0.18-py2.py3-none-any.whl (209 kB)
     |████████████████████████████████| 209 kB 61.2 MB/s
Requirement already satisfied: traitlets>=4.3.0 in /usr/local/lib/python3.7/dist-packages (from metpy) (5.1.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from metpy) (1.3.5)
Requirement already satisfied: xarray>=0.14.1 in /usr/local/lib/python3.7/dist-packages (from metpy) (0.20.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.0.0->metpy) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.0.0->metpy) (3.8.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.3.0->metpy) (1.4.3)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.3.0->metpy) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.3.0->metpy) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.3.0->metpy) (7.1.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.3.0->metpy) (3.0.9)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.34.4-py3-none-any.whl (944 kB)
     |████████████████████████████████| 944 kB 67.8 MB/s
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.3.0->metpy) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->metpy) (2022.1)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pooch>=0.1->metpy) (2.23.0)
Requirement already satisfied: appdirs>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from pooch>=0.1->metpy) (1.4.4)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj>=2.5.0->metpy) (2022.6.15)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib>=3.3.0->metpy) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pooch>=0.1->metpy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pooch>=0.1->metpy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pooch>=0.1->metpy) (2.10)
Installing collected packages: fonttools, pyproj, pint, matplotlib, metpy
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed fonttools-4.34.4 matplotlib-3.5.2 metpy-1.2.0 pint-0.18 pyproj-3.2.1

In [ ]:
pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 8.2 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 41.1 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.2)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.6.15)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)
Installing collected packages: munch, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0

In [ ]:
pip install cartopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting cartopy
  Downloading Cartopy-0.20.3.tar.gz (10.8 MB)
     |████████████████████████████████| 10.8 MB 8.2 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
WARNING: Discarding https://files.pythonhosted.org/packages/98/a9/0e4000eabadfcff6373c0fec790863b543b919cbfec18aed60d71ba67d5d/Cartopy-0.20.3.tar.gz#sha256=0d60fa2e2fbd77c4d1f6b1f9d3b588966147f07c1b179d2d34570ac1e1b49006 (from https://pypi.org/simple/cartopy/) (requires-python:>=3.7). Command errored out with exit status 1: /usr/bin/python3 /usr/local/lib/python3.7/dist-packages/pip/_vendor/pep517/in_process/_in_process.py get_requires_for_build_wheel /tmp/tmpcjyc9c1a Check the logs for full command output.
  Downloading Cartopy-0.20.2.tar.gz (10.8 MB)
     |████████████████████████████████| 10.8 MB 47.2 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
WARNING: Discarding https://files.pythonhosted.org/packages/f6/55/1e1c737dc9436b320deead73d1c455ddbb74b8b6992081863492f6f6378a/Cartopy-0.20.2.tar.gz#sha256=4d08c198ecaa50a6a6b109d0f14c070e813defc046a83ac5d7ab494f85599e35 (from https://pypi.org/simple/cartopy/) (requires-python:>=3.7). Command errored out with exit status 1: /usr/bin/python3 /usr/local/lib/python3.7/dist-packages/pip/_vendor/pep517/in_process/_in_process.py get_requires_for_build_wheel /tmp/tmpl6xeq82n Check the logs for full command output.
  Downloading Cartopy-0.20.1.tar.gz (10.8 MB)
     |████████████████████████████████| 10.8 MB 42.4 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
WARNING: Discarding https://files.pythonhosted.org/packages/fc/59/aa52698e3838f4cd0e7eaa75bd86837e9e0b05041dbdaee3cda2fffced06/Cartopy-0.20.1.tar.gz#sha256=91f87b130e2574547a20cd634498df97d797abd12dcfd0235bc0cdbcec8b05e3 (from https://pypi.org/simple/cartopy/) (requires-python:>=3.7). Command errored out with exit status 1: /usr/bin/python3 /usr/local/lib/python3.7/dist-packages/pip/_vendor/pep517/in_process/_in_process.py get_requires_for_build_wheel /tmp/tmp8odzaf7j Check the logs for full command output.
  Downloading Cartopy-0.20.0.tar.gz (10.8 MB)
     |████████████████████████████████| 10.8 MB 41.3 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
WARNING: Discarding https://files.pythonhosted.org/packages/0f/c0/58453b036e79046d211f083880d58dcce787e7e07647ac25dc46c6555099/Cartopy-0.20.0.tar.gz#sha256=eae58aff26806e63cf115b2bce9477cedc4aa9f578c5e477b2c25cfa404f2b7a (from https://pypi.org/simple/cartopy/) (requires-python:>=3.7). Command errored out with exit status 1: /usr/bin/python3 /usr/local/lib/python3.7/dist-packages/pip/_vendor/pep517/in_process/_in_process.py get_requires_for_build_wheel /tmp/tmp52wkh_x4 Check the logs for full command output.
  Downloading Cartopy-0.19.0.post1.tar.gz (12.1 MB)
     |████████████████████████████████| 12.1 MB 47.9 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting pyshp>=2
  Downloading pyshp-2.3.0-py2.py3-none-any.whl (46 kB)
     |████████████████████████████████| 46 kB 5.3 MB/s
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from cartopy) (1.21.6)
Requirement already satisfied: shapely>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from cartopy) (1.8.2)
Building wheels for collected packages: cartopy
  Building wheel for cartopy (PEP 517) ... done
  Created wheel for cartopy: filename=Cartopy-0.19.0.post1-cp37-cp37m-linux_x86_64.whl size=12516303 sha256=674006fc1fa9fad610c90de87be9e456aa1ba2d2588a7c32b9dd27e284ccb1dd
  Stored in directory: /root/.cache/pip/wheels/98/01/f7/bd10aeb96fe4b518cde5f7c4f5e12c7202f85b7353a5017847
Successfully built cartopy
Installing collected packages: pyshp, cartopy
Successfully installed cartopy-0.19.0.post1 pyshp-2.3.0

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
sns.set()
from google.colab import drive
drive.mount('/content/drive')

import xarray as xr
import cartopy.crs as ccrs
from cartopy.util import add_cyclic_point
import geopandas
from shapely.geometry import mapping
import shapefile as shp

from scipy.io import netcdf
import numpy as np
import matplotlib
from metpy.cbook import get_test_data

import netCDF4

Mounted at /content/drive

In [ ]:
precip_nc_file = '/content/drive/MyDrive/Dataset/rr_ens_mean_0.1deg_reg_2011-2021_v25.0e.nc'
nc = netCDF4.Dataset(precip_nc_file, mode='r')

In [ ]:
nc

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    E-OBS_version: 25.0e
    Conventions: CF-1.4
    References: http://surfobs.climate.copernicus.eu/dataaccess/access_eobs.php
    history: Mon Mar 28 12:53:22 2022: ncks --no-abc -d time,22280,26297 /data3/Else/EOBSv25.0e/Grid_0.1deg/rr//rr_ensmean_master_rectime.nc /data3/Else/EOBSv25.0e/Grid_0.1deg/rr//rr_ens_mean_0.1deg_reg_2011-2021_v25.0e.nc
Mon Mar 28 12:46:22 2022: ncks --no-abc --mk_rec_dmn time /data3/Else/EOBSv25.0e/Grid_0.1deg/rr//rr_ensmean_master.nc /data3/Else/EOBSv25.0e/Grid_0.1deg/rr//rr_ensmean_master_rectime.nc
    NCO: netCDF Operators version 4.7.5 (Homepage = http://nco.sf.net, Code = http://github.com/nco/nco)
    dimensions(sizes): longitude(705), latitude(465), time(4018)
    variables(dimensions): float64 longitude(longitude), float64 latitude(latitude), int32 time(time), int16 rr(time, latitude, longitude)
    groups:

In [ ]:
for dim in nc.dimensions.values():
    print(dim)

<class 'netCDF4._netCDF4.Dimension'>: name = 'longitude', size = 705
<class 'netCDF4._netCDF4.Dimension'>: name = 'latitude', size = 465
<class 'netCDF4._netCDF4.Dimension'> (unlimited): name = 'time', size = 4018

In [ ]:
print(type(nc))

<class 'netCDF4._netCDF4.Dataset'>

In [ ]:
print(nc.dimensions)

{'longitude': <class 'netCDF4._netCDF4.Dimension'>: name = 'longitude', size = 705, 'latitude': <class 'netCDF4._netCDF4.Dimension'>: name = 'latitude', size = 465, 'time': <class 'netCDF4._netCDF4.Dimension'> (unlimited): name = 'time', size = 4018}

In [ ]:
print(repr(nc))

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    E-OBS_version: 25.0e
    Conventions: CF-1.4
    References: http://surfobs.climate.copernicus.eu/dataaccess/access_eobs.php
    history: Mon Mar 28 12:53:22 2022: ncks --no-abc -d time,22280,26297 /data3/Else/EOBSv25.0e/Grid_0.1deg/rr//rr_ensmean_master_rectime.nc /data3/Else/EOBSv25.0e/Grid_0.1deg/rr//rr_ens_mean_0.1deg_reg_2011-2021_v25.0e.nc
Mon Mar 28 12:46:22 2022: ncks --no-abc --mk_rec_dmn time /data3/Else/EOBSv25.0e/Grid_0.1deg/rr//rr_ensmean_master.nc /data3/Else/EOBSv25.0e/Grid_0.1deg/rr//rr_ensmean_master_rectime.nc
    NCO: netCDF Operators version 4.7.5 (Homepage = http://nco.sf.net, Code = http://github.com/nco/nco)
    dimensions(sizes): longitude(705), latitude(465), time(4018)
    variables(dimensions): float64 longitude(longitude), float64 latitude(latitude), int32 time(time), int16 rr(time, latitude, longitude)
    groups:

In [ ]:
print(nc.variables["longitude"])

<class 'netCDF4._netCDF4.Variable'>
float64 longitude(longitude)
    units: degrees_east
    long_name: Longitude values
    axis: X
    standard_name: longitude
unlimited dimensions:
current shape = (705,)
filling on, default _FillValue of 9.969209968386869e+36 used

In [ ]:
print(nc.variables["latitude"])

<class 'netCDF4._netCDF4.Variable'>
float64 latitude(latitude)
    units: degrees_north
    long_name: Latitude values
    axis: Y
    standard_name: latitude
unlimited dimensions:
current shape = (465,)
filling on, default _FillValue of 9.969209968386869e+36 used

In [ ]:
print(nc.variables["time"])

<class 'netCDF4._netCDF4.Variable'>
int32 time(time)
    units: days since 1950-01-01 00:00
    long_name: Time in days
    calendar: standard
    standard_name: time
    cell_methods: time: mean
unlimited dimensions: time
current shape = (4018,)
filling on, default _FillValue of -2147483647 used

In [ ]:
print(nc.variables["rr"])

<class 'netCDF4._netCDF4.Variable'>
int16 rr(time, latitude, longitude)
    units: mm
    _FillValue: -9999
    long_name: rainfall
    scale_factor: 0.1
    add_offset: 0.0
    standard_name: thickness_of_rainfall_amount
    cell_methods: time: mean
unlimited dimensions: time
current shape = (4018, 465, 705)
filling on

In [ ]:
print(nc.variables["longitude"].datatype)
print(nc.variables["latitude"].datatype)
print(nc.variables["time"].datatype)
print(nc.variables["rr"].datatype)

float64
float64
int32
int16

In [ ]:
print(nc.variables["longitude"].dimensions)
print(nc.variables["latitude"].dimensions)
print(nc.variables["time"].dimensions)
print(nc.variables["rr"].dimensions)

('longitude',)
('latitude',)
('time',)
('time', 'latitude', 'longitude')

In [ ]:
DATA_LONG = nc.variables["longitude"][:]
DATA_LAT = nc.variables["latitude"][:]
DATA_TIME = nc.variables["time"][:]
DATA_rr = nc.variables["rr"][0,:,:]

In [ ]:
print(type(DATA_LONG))
print(type(DATA_LAT))
print(type(DATA_TIME))
print(type(DATA_rr))

<class 'numpy.ma.core.MaskedArray'>
<class 'numpy.ma.core.MaskedArray'>
<class 'numpy.ma.core.MaskedArray'>
<class 'numpy.ma.core.MaskedArray'>

In [ ]:
nc.variables["time"]

<class 'netCDF4._netCDF4.Variable'>
int32 time(time)
    units: days since 1950-01-01 00:00
    long_name: Time in days
    calendar: standard
    standard_name: time
    cell_methods: time: mean
unlimited dimensions: time
current shape = (4018,)
filling on, default _FillValue of -2147483647 used

In [ ]:
print(DATA_rr.shape)

(465, 705)

In [ ]:
print(DATA_rr[:,0].shape)

(465,)

In [ ]:
print(type(DATA_rr[:,0]))
print(type(DATA_rr[0,:]))

<class 'numpy.ma.core.MaskedArray'>
<class 'numpy.ma.core.MaskedArray'>

In [ ]:
print(DATA_LONG.data[0:50])

[-24.95013951 -24.85013951 -24.75013951 -24.65013951 -24.55013951
 -24.45013951 -24.35013951 -24.25013951 -24.15013951 -24.05013951
 -23.95013951 -23.85013951 -23.75013951 -23.65013951 -23.55013951
 -23.45013952 -23.35013952 -23.25013952 -23.15013952 -23.05013952
 -22.95013952 -22.85013952 -22.75013952 -22.65013952 -22.55013952
 -22.45013952 -22.35013952 -22.25013952 -22.15013952 -22.05013952
 -21.95013952 -21.85013952 -21.75013952 -21.65013952 -21.55013952
 -21.45013952 -21.35013952 -21.25013952 -21.15013952 -21.05013952
 -20.95013953 -20.85013953 -20.75013953 -20.65013953 -20.55013953
 -20.45013953 -20.35013953 -20.25013953 -20.15013953 -20.05013953]

In [ ]:
rr_LAT = DATA_rr[:,0].data
rr_LONG = DATA_rr[0,:].data

In [ ]:
print(type(rr_LAT))
print(type(rr_LONG))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [ ]:
rr_LAT_SERIES = pd.Series(rr_LAT,name="rr_LAT").astype(float)
rr_LONG_SERIES = pd.Series(rr_LONG,name="rr_LONG").astype(float)

In [ ]:
rr_COOR_DATA = pd.concat([rr_LAT_SERIES,rr_LONG_SERIES],axis=1)

In [ ]:
rr_COOR_DATA.dropna(inplace=True,axis=0)

In [ ]:
DATA_LAT_SERIES = pd.Series(DATA_LAT.data,name="LATITUDE")
DATA_LONG_SERIES = pd.Series(DATA_LONG,name="LONGITUDE")

In [ ]:
MAIN_DATA = pd.concat([DATA_LAT_SERIES,DATA_LONG_SERIES,rr_LAT_SERIES,rr_LONG_SERIES],axis=1)

In [ ]:
MAIN_DATA.dropna(inplace=True,axis=0)

In [ ]:
MAIN_DATA["rr_SUM"] = MAIN_DATA["rr_LAT"] + MAIN_DATA["rr_LONG"]

In [ ]:
MAIN_DATA

      LATITUDE  LONGITUDE  rr_LAT  rr_LONG   rr_SUM
0    25.049861  -24.95014 -9999.0  -9999.0 -19998.0
1    25.149861  -24.85014 -9999.0  -9999.0 -19998.0
2    25.249861  -24.75014 -9999.0  -9999.0 -19998.0
3    25.349861  -24.65014 -9999.0  -9999.0 -19998.0
4    25.449861  -24.55014 -9999.0  -9999.0 -19998.0
..         ...        ...     ...      ...      ...
460  71.049859   21.04986 -9999.0  -9999.0 -19998.0
461  71.149859   21.14986 -9999.0  -9999.0 -19998.0
462  71.249859   21.24986 -9999.0  -9999.0 -19998.0
463  71.349859   21.34986 -9999.0  -9999.0 -19998.0
464  71.449859   21.44986 -9999.0  -9999.0 -19998.0

[465 rows x 5 columns]

In [ ]:
MAIN_DATA[["rr_SUM"]].describe().T

,count,mean,std,min,25%,50%,75%,max
rr_SUM,465.0,-19481.922581,2214.60368,-19998.0,-19998.0,-19998.0,-19998.0,-9999.0

In [ ]:
rr_LAT_LONG = rr_COOR_DATA[["rr_LAT","rr_LONG"]]

In [ ]:
rr_LAT_LONG.COCL_LAT = rr_LAT_LONG.rr_LAT.astype(float)
rr_LAT_LONG.COCL_LONG = rr_LAT_LONG.rr_LONG.astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [ ]:
import geopandas
from shapely.geometry import mapping

In [ ]:
hist_rr = nc['rr']

In [ ]:
region = '/content/drive/MyDrive/Dataset/rr_ens_mean_0.1deg_reg_2011-2021_v25.0e.nc' #put path of shapefile here

#Use this function if you want to mask over shapefile region
def mask(tas):
    tas.rio.set_spatial_dims(x_dim="longitude", y_dim="latitude", inplace=True)
    tas.rio.write_crs("epsg:4326", inplace=True)
    Shape = geopandas.read_file(region, crs="epsg:4326")
    
    clipped = tas.rio.clip(Shape.geometry.apply(mapping), Shape.crs, drop=False)
    return clipped

In [ ]:
def annual(month):
    return (month >= 1) & (month <=12)

#Seasonal Mean
def jjas(month):
    return (month >= 6) & (month <= 9)

def jja(month):
    return (month >= 6) & (month <= 8)

def djf(month):
    return (month >= 12) | (month <= 2)

In [49]:
def time_av(tas, ds, month):
    tas = tas.sel(time=slice('1990-01-16', '2019-12-16')) #use time slice to select the years you want to look at. 
                                                          #Make sure it's the same for both tas and time.
    tas = tas.sel(time = month(tas['time.month']))
    tas = tas.mean(('longitude', 'latitude'))
    tas = tas.groupby('time.year').mean('time')
    time = ds['time'].sel(time=slice('1901-01-16', '2019-12-16'))
    time = time.groupby('time.year').mean('time')
    return tas, time

In [50]:
t_period = annual #choose time period from annual and seasonal mean functions above
hist_tas, hist_time = time_av(hist_rr, nc, t_period) #calculates means for temperature and time

AttributeError: ignored

In [ ]:
plt.figure(figsize=(12,7))
plt.plot(hist_time, hist_tas) 

#Label the plot
plt.xlabel("Years", fontsize = 'xx-large')
plt.ylabel('Temperature (\u2103)', fontsize = 'xx-large') 
plt.tick_params(labelsize = 'xx-large')
plt.title("India Annual Minimum Near Surface Temperature", fontsize=20, y=1.05)

plt.savefig('') #put in path where you want the image to be saved

NameError: ignored

In [51]:
import matplotlib.pyplot as plt
import xarray as xr
import geopandas
from shapely.geometry import mapping


hist_ds = xr.open_dataset('absolute.nc') #put in path of netcdf file 
hist_tas = hist_ds['tmp']  #put in variable name. If unsure type hist_ds into the console to find it. Use -273.15 to convert kelvin to celcius if needed

region = '' #put path of shapefile here

#Use this function if you want to mask over shapefile region
def mask(tas):
    tas.rio.set_spatial_dims(x_dim="lon", y_dim="lat", inplace=True)
    tas.rio.write_crs("epsg:4326", inplace=True)
    Shape = geopandas.read_file(region, crs="epsg:4326")
    
    clipped = tas.rio.clip(Shape.geometry.apply(mapping), Shape.crs, drop=False)
    return clipped

#hist_mask = mask(hist_tas) #use this in the time function if you want to mask

#Annual Mean
def annual(month):
    return (month >= 1) & (month <=12)

#Seasonal Mean
def jjas(month):
    return (month >= 6) & (month <= 9)

def jja(month):
    return (month >= 6) & (month <= 8)

def djf(month):
    return (month >= 12) | (month <= 2)

#function calculates an annual average of temperature and time
def time_av(tas, ds, month):
    tas = tas.sel(time=slice('1901-01-16', '2019-12-16')) #use time slice to select the years you want to look at. 
                                                          #Make sure it's the same for both tas and time.
    tas = tas.sel(time = month(tas['time.month']))
    tas = tas.mean(('lon', 'lat'))
    tas = tas.groupby('time.year').mean('time')
    time = ds['time'].sel(time=slice('1901-01-16', '2019-12-16'))
    time = time.groupby('time.year').mean('time')
    return tas, time

t_period = annual #choose time period from annual and seasonal mean functions above
hist_tas, hist_time = time_av(hist_tas, hist_ds, t_period) #calculates means for temperature and time

#Create the plot
plt.figure(figsize=(12,7))
plt.plot(hist_time, hist_tas) 

#Label the plot
plt.xlabel("Years", fontsize = 'xx-large')
plt.ylabel('Temperature (\u2103)', fontsize = 'xx-large') 
plt.tick_params(labelsize = 'xx-large')
plt.title("India Annual Minimum Near Surface Temperature", fontsize=20, y=1.05)

plt.savefig('') #put in path where you want the image to be saved

KeyError: ignored